---
title: "Archive"
layout: default
permalink: "/archive"
---

<div class="container">
  <div class="row justify-content-center">
      <div class="col-md-8">

      {% for post in site.posts %}
          {% unless post.next %}
            <h4 class="archive-title font-weight-bold spanborder text-uppercase" id="{{ category[0] | downcase }}"><span>{{ post.date | date: '%Y' }}</span></h4>
          {% else %}
            {% capture year %}{{ post.date | date: '%Y' }}{% endcapture %}
            {% capture nyear %}{{ post.next.date | date: '%Y' }}{% endcapture %}
            {% if year != nyear %}
              <h4 class="archive-title font-weight-bold spanborder text-uppercase" id="{{ category[0] | downcase }}"><span>{{ post.date | date: '%Y' }}</span></h4>
            {% endif %}
          {% endunless %}
          {% include main-loop-card.html %}
	    {% endfor %}

    </div>
    <div class="col-md-4">
        {% include sidebar-featured.html %}
    </div>

  </div>
</div>
