<li class="glowlink nav-item">
    <a class="nav-link" href="{{site.baseurl}}/personal">Personal</a>
</li>
<li class="glowlink nav-item">
    <a class="nav-link" href="{{site.baseurl}}/reviews">Reviews</a>
</li>
<li class="glowlink nav-item">
<a class="nav-link" href="{{site.baseurl}}/archive">Archive</a>
</li>
<li class="glowlink nav-item">
<a target="_blank" class="nav-link" href="https://portfolio.rencewang.com/">Porfolio</a>
</li>
<li class="glowlink nav-item">
<a target="_blank" class="nav-link" href="https://www.rencewang.com/">About</a>
</li>
