<div class="mb-3 d-flex justify-content-between main-loop-card">
	<div class="loop-card-fixed-height pr-3">
		<h2 class="loop-card-title mb-1 h4 font-weight-bold">
		<a href="{{site.baseurl}}{{post.url}}">{{ post.title }}</a>
		</h2>
		<p class="mb-1 excerpt">
		   {{ post.excerpt  | strip_html | strip_newlines | truncate: 300}}
		</p>
		<small class="catblock d-block text-muted">
			In <span class="catlist">
			{% for category in post.categories %}
			<a class="text-capitalize smoothscroll" href="{{site.baseurl}}/categories.html#{{ category | downcase }}">{{ category }}</a><span class="sep">, </span>
			{% endfor %}
			</span>
		</small>
		<small class="text-muted font-weight-bold">
			{{ post.date | date: '%b %d, %Y' }}
		</small>
	</div>
</div>
